.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(212, 186, 237);
    width: 50vw;
    margin: auto;
    height: 80vh;
}
.container .display{
    margin: 30px;
    
}
.container .display input{
    width: 40vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 40px;
    text-align: center;
}
.container .btncontainer{
    display: grid;
    grid-template-columns: repeat(5,10vw);
    
}
.container .btncontainer .btnhandle{ 
    height: 10vh;
    border: 2px solid black;
    margin: 10px 7px;
    font-size: 30px;

}
.container .btncontainer .btnhandle:hover{
    background-color: black;;
    color: white;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:500px) {
    .container .btncontainer .btnhandle{ 
        height: 5vh;
        border: 2px solid black;
        margin: 10px 7px;
        font-size: 30px;
    
    }   
    .container .btncontainer{
        display: grid;
        grid-template-columns: repeat(5,5vw);
        
    }
    .container .display input{
        width: 15vw;
        height: 9vh;
        border: 2px solid black;
        border-radius: 6px;
        font-size: 15px;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: rgb(212, 186, 237);
        width: 50vw;
        margin:auto;
        height: 60vh;
    }
}

